django==5.2.5
django-rest-framework==0.1.0
beautifulsoup4==4.13.4
requests==2.32.4
fake-useragent==2.2.0
redis==6.4.0
django-cors-headers==4.7.0
python-decouple==3.8
redis==6.4.0
asgiref==3.9.1
beautifulsoup4==4.13.4
cloudscraper==1.2.71
colorama==0.4.6
dj-database-url==3.0.1
django-ratelimit==4.1.0
django-redis==6.0.0
django-supabase-auth==0.0.1.1
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
numpy==2.2.6
opencv-python==4.12.0.88
pandas==2.3.1
pathlib==1.0.1
pikepdf==9.10.2
pillow==11.3.0
playwright==1.54.0
postgrest==1.1.1
psycopg==3.2.9
psycopg-binary==3.2.9
psycopg2-binary==2.9.10
puremagic==1.30
pycparser==2.22
PyJWT==2.10.1
PyMuPDF==1.26.3
pyparsing==3.2.3
PyPDF2==3.0.1
python-decouple==3.8
python-dotenv==1.1.1
redis==6.4.0
requests==2.32.4
selenium==4.35.0
simplejson==3.20.1
supabase==2.18.1
supabase_auth==2.12.3
supabase_functions==0.10.1
urllib3==2.5.0
django-crontab==0.7.1
gunicorn==23.0.0
Brotli==1.1.0